name: Test runner

on:
  push:
    branches:
      - '*'
    paths:
      - 'test-runner/**'
  pull_request:
    branches:
      - '*'
    paths:
      - 'test-runner/**'

jobs:
  validate_test_runner:
    name: Validation of the test runner (Python)
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Initialize Python environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip

      - name: Install dependencies
        working-directory: test-runner
        run: pip install -r requirements/dev.txt

      - name: Run mypy
        working-directory: test-runner
        run: mypy wasi_test_runner tests

      - name: Run flake8
        working-directory: test-runner
        run: flake8

      - name: Run pylint
        working-directory: test-runner
        run: pylint wasi_test_runner tests

      - name: Run tests
        working-directory: test-runner
        run: PYTHONPATH=. coverage run